@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);
@import url(https://fonts.googleapis.com/css?family=Signika:400,700);

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body section.hidden {
  display: none;
}

hr {
  border: 1px solid rgba(0,0,0,0.5);
}

header {
  text-align: center;
  background-color: #1976D2;
  color: #FFF;
}

header h1 {
  padding: 0.25em 0 0.1em 0;
  font-size: 2.5em;
  line-height; 1.5em;
  text-align: center;
  background-color: #1976D2;
  color: #FFF;
  font-family: 'Signika';
  font-weight: 700;
  font-variant-numeric: oldstyle-nums;
}

header p {
  padding: 0.25em 0;
}

header p span {
  color: rgba(255,255,255,0.8)  ;
  font-family: 'Libre Baskerville', serif;
}

.edit-email {
  background: url("../images/edit.svg") no-repeat;
  border: none;
  background-position: 0 0;
  background-size: 75%;
}


header p span:empty, header p span:empty + button {
  display: none;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section.form {
  color: #212121;
  background-color: #FFC107;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.form form label {
  display: flex;
  flex-direction: column;
}

section.form form label span {
  display: block;
  font-family: 'Libre Baskerville', serif;
  margin: 0.5em;
  font-size: 1.5em;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

section.form form input {
  font-family: 'Libre Baskerville', serif;
  padding: 0.5em;
  font-size: 1.5em;
  width: 80vw;
  max-width: 600px;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

section.form form button {
  margin-top: 0.5em;
  padding: 0.5em 0.2em;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Signika';
  font-weight: 700;
  width: 100%;
  background-color: #E91E63;
  border: .2em solid #C2185B;
  color: white;
}

nav {
  font-size: 0.9em;
  font-family: sans;
  color: #212121;
  background-color: #FFC107;
  display: flex;
  min-height: 4em;
  justify-content: center;
  align-items: center;
}

body:not(.zoomed) nav.scrolled {
  box-shadow: 0 5px 1em rgba(0,0,0,0.5);
}

nav.loading {
  background: linear-gradient(to right, #FFC107,#673AB7, #E91E63, #F44336, #FF9800, #FFC107);
  animation: 2s linear bg-move infinite;
  background-size: 600% 600%;
}

nav.loading .year {
  opacity: 0.5;
  color: white;
}

nav .year {
  display: block;
  text-align: center;
  padding: 0 0.5em;
  color: rgba(0,0,0,0.8);
  font-family: 'Signika', serif;
  font-weight: 700;
  font-size: 2em;
  flex: 1;
  transition: 0.5s opacity;
}

nav .year-nav {
  --color: rgba(0,0,0,.7);
  background : none;
  color: var(--color);
  border: 2px solid;
  border: 2px solid var(--color);
  font-size: 1em;
  font-family: 'Signika', serif;
  font-weight: 700;
  margin: 0 0.5em;
  padding: 0.2em;
}

nav .year-nav[data-direction="previous"]::before{
  content: "< " attr(data-year);
}
nav .year-nav[data-direction="next"]::after{
  content: attr(data-year) " >";
}

nav .year-nav[disabled]{
  --color: rgba(0,0,0,0.4);
}

nav .bug-title {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  display: none;
  line-height: 1.3em;
  font-size: 1.2em;
  flex: 1;
  color: rgba(0,0,0,0.8);
}

nav .bug-title a {
  color: rgba(0,0,0,0.8);
}

.zoomed nav .bug-title {
  display: block;
}

.zoomed svg .weeks {
  display: none;
}

nav #esc {
  display: none;
  font-size: 1.5em;
  border: none;
  background : none;
  margin-right: auto;
}

.zoomed #esc {
  align-self: start;
  display: block;
}

footer {
  background-color: #212121;
  color: white;
  padding: 1em;
  font-family: 'Libre Baskerville', serif;
  margin-top: auto;
}
footer p {
  text-align: center;
}
footer p + p{
  margin-top: 1.2em;
}
footer a {
  color: #BBDEFB;
}

svg {
  flex: 1;
}

.zoomed nav .year,
.zoomed .year-nav {
  display: none;
}
.zoomed .bug-line:not(.detail){
  display: none;
}
.bug-line.detail .resolved {
  display:none;
}

.bug-line {
  cursor: pointer;
  animation: .5s linear appears;
}

.tooltip {
  position: fixed;
  left: -9999px;
  top: 0;
  padding: 1em;
  font-family: 'Signika';
  font-weight: 400;
  max-width: 400px;
  width: 300px;
  min-width: width: 200px;
  background-color: #1976D2;
  color: rgba(0,0,0,0.8);
  text-align: center;
  word-wrap: break-word;
}

.removed {
  text-decoration: line-through;
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-move {
  0%{background-position:100% 50%;}
  50%{/*! background-position:100% 50%; */}
  100%{background-position:-100% 50%;}
}
